.feed {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed h2 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.feed-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 20px;
  width: 100%;
}

.post-card {
  background-color: var(--background-color);
  border-radius: 12px;
  box-shadow: var(--card-shadow-light);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body.dark .post-card {
  background-color: var(--background-color-dark);
  box-shadow: var(--card-shadow-dark);
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.author-info {
  display: flex;
  align-items: center;
}

.author-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-name {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: bold;
}

.post-title {
  font-size: 1.5rem;
  color: var(--accent-color);
  margin-bottom: 15px;
  font-weight: bold;
  line-height: 1.2;
}

body.dark .post-title {
  color: var(--link-color-dark);
}

.post-content-preview {
  flex-grow: 1;
  font-size: 1rem;
  color: var(--text-color);
  position: relative;
  line-height: 1.5;
  max-height: 9em; /* Approximately 7 lines */
  overflow: hidden;
}

body.dark .post-content-preview {
  color: var(--text-color-dark);
}

.gradient-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.5em;
  background: linear-gradient(transparent, var(--background-color));
}

body.dark .gradient-overlay {
  background: linear-gradient(transparent, var(--background-color-dark));
}

.read-more {
  background-color: var(--accent-color);
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.read-more:hover {
  background-color: var(--button-hover-bg-color-dark);
}

body.dark .read-more {
  background-color: var(--button-bg-color-dark);
}

body.dark .read-more:hover {
  background-color: var(--button-hover-bg-color-dark);
}

@media (max-width: 768px) {
  .feed {
    padding: 10px;
  }

  .post-title {
    font-size: 1.2rem;
  }

  .read-more {
    font-size: 0.9rem;
    padding: 8px 12px;
  }

  .author-avatar {
    width: 30px;
    height: 30px;
  }

  .author-name {
    font-size: 0.9rem;
  }
}
