.navbar {
  padding: 10px 20px;
}

.navbar-brand {
  font-size: 24px;
}

.nav-link {
  color: #fff !important;
  padding: 10px 15px;
  text-align: center;
  width: 100%;
}

.nav-item {
  width: 100%;
}
.nav-link:hover {
  background-color: #555;
  border-radius: 5px;
}

.btn-theme-toggle,
.btn-signout {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .navbar-toggler {
    border: none;
  }

  .navbar-nav {
    text-align: center;
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .nav-links,
  .btn-theme-toggle,
  .btn-signout {
    padding: 15px;
  }
}
